.page{
    background-color: #69696A;
    height: 100%;
}

body > #root > div {
    height: 100vh;
  }

.Syll{
    justify-content: center;
    color: white;
    font-size: xx-large;
}

.joueur{
    background-color: #7b7b8b;
    border-color: black;
    justify-content: center;
    display: flex;
    margin: 1em;
}

.Jeux{
    justify-content: center;
    display: flex;

}

.shots{
    color: white;
    font-size: xx-large;
}

.phraseExp{
    color: white;
    font-size: x-large;
    justify-content: center;
    display: flex;
}

.countdown{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    color: white;
    font-size: xx-large;
}

.infoJoueurs{
    color: white;
    font-size: x-large;
    justify-content: center;
    display: flex;
}

.boutonRejouer{
    justify-content: center;
    display: flex;
}

.divQRCode{
    display:flex;
    justify-content: center;
}

.phraseQRCode{
    color: white;
    font-size: x-large;
    text-align: center;
    display: flex;
}

.nbShots{
    color: white;
    font-size: xx-large;
    display: flex;
    align-items: center;
}

.colNbSHots{
    display: flex;
    align-items: center;
    justify-content: center;
}